/* Fonts */
@font-face {
    font-family: "D-DIN";
    src: url(../fonts/D-DIN.otf);
}
@font-face {
    font-family: "D-DIN Bold";
    src: url(../fonts/D-DIN-Bold.otf);
}
@font-face {
    font-family: "D-DIN Condensed";
    src: url(../fonts/D-DINCondensed.otf);
}
@font-face {
    font-family: "D-DIN Condensed Bold";
    src: url(../fonts/D-DINCondensed-Bold.otf);
}

/* Images */
.background {
    position: absolute;
    left: 0px;
    top: 0px;
}
.commentary-img {
    position: absolute;
    left: 0px;
    top: 0px;

}

/* Runner Text */
.runner-name {
    position: absolute;
    left: 85px;
    top: 501px;
    width: 292px;
    height: 80px;
    font-family: "D-DIN Condensed";
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    line-height: 80px;
}

/* Game Information */
#game-name {
    position: absolute;
    left: 678px;
    top: 796px;
    width: 435px;
    height: 126px;
    font-family: "D-DIN Condensed Bold";
    font-size: 65px;
    color: #FFFFFF;
    text-align: center;
    line-height:126px;
    word-break: break-all;
}
#game-console {
    position: absolute;
    left: 678px;
    top: 922px;
    width: 241px;
    height: 25px;
    font-family: "D-DIN Condensed Bold";
    font-size: 30px;
    color: #2E3436;
    text-align: center;
    line-height:30px;
}
#game-year {
    position: absolute;
    left: 920px;
    top: 922px;
    width: 241px;
    height: 25px;
    font-family: "D-DIN Condensed Bold";
    font-size: 30px;
    color: #2E3436;
    text-align: center;
    line-height:30px;
}

/* Timer Information */
#timer {
    position: absolute;
    left: 1360px;
    top: 796px;
    width: 435px;
    height: 126px;
    font-family: "D-DIN Condensed Bold";
    font-size: 75px;
    color: #FFFFFF;
    text-align: center;
    line-height:126px;
}
#game-category {
    position: absolute;
    left: 1313px;
    top: 922px;
    width: 333px;
    height: 25px;
    font-family: "D-DIN Condensed Bold";
    font-size: 30px;
    color: #2E3436;
    text-align: center;
    line-height:30px;
}
#game-estimate {
    position: absolute;
    left: 1646px;
    top: 922px;
    width: 150px;
    height: 25px;
    font-family: "D-DIN Condensed Bold";
    font-size: 30px;
    color: #2E3436;
    text-align: center;
    line-height:30px;
}